{% extends "base.html" %}

{% block page_head %}{{ specialty.name }} Chat{% endblock %}

{% block sidebar %}
          {% if not current_user.is_anonymous %}
          <li>
            <a href="{{ url_for('main.user', username=current_user.username) }}" class="nav-link">
              <i class="nc-icon nc-single-02"></i>
              <p>My Profile</p>
            </a>
          </li>
          {% endif %}
          {% if specialty2 %}
          <li>
            <a href="{{ url_for('main.specialty', id=specialty2) }}">
              <i class="nc-icon nc-calendar-60"></i>
              <p>Interview Invites</p>
            </a>
          </li>
          <li class="active">
            <a href="{{ url_for('main.chat', id=specialty2) }}">
              <i class="nc-icon nc-chat-33"></i>
              <p>Chat</p>
            </a>
          </li>
          <li>
            </li>
           <li>
            <a href="{{ url_for('main.threads', specialty_id=specialty2) }}">
              <i class="nc-icon nc-bank"></i>
              <p>Forum</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('main.index') }}">
              <i class="nc-icon nc-minimal-right"></i>
              <p>Change Specialty</p>
            </a>
          </li>
          {% endif %}
          {% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                  Note: Anonymous users can use chat and chat history does not persist. Please use the Forum for discussions such as questions and answers.
                  <div class="form-group">
                    <textarea id="chat" class="form-control" rows="15">{% for chat in chats %}{{ chat.text }}&#13;&#10;{% endfor %}</textarea>
                    <br>
                    <input id="text" class="form-control" placeholder="Enter your message here">
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
 <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('https://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });
                $('#submit').click(function() {
                      text = $('#text').val();
                      $('#text').val('');
                      socket.emit('text', {msg: text});
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }
        </script>
{% endblock %}