{% extends "base.html" %}

{% block content %}

<style>
	h4 {
		margin-top:40px;
		margin-bottom:5px;
	}
</style>
<div class="row">
  
 <h3>DRG Isolation</h3>
 <h4>Euthanasia</h4>
 Need to get code pass to get into LL vivarium
 Wear gown and gloves
 Take out mouse and place into CO chamber, press Start
 Cross out mouse on cage card
 Put how many euthanized on spreadsheet
 Put mouse in red bag
 Clean CO chamber
 Return mouse cage or dispose onto cart
 <h4>Perfusion</h4>
 Pin mouse ventral side up onto pan
 Horizontal cut with scissors, expose heart, use hemostat and tape to pull skin upwards to give tension
 Use narrow hemostat halfway over left ventricle, needle into left ventricle just barely past hemostat, clamp down, make a small cut on right atrium
 Perfuse with acsf/pbs for 5-20 min until organs clear up
 Place onto microscope tray
 Pin dorsal up using a steel angle
 Remove hair with cocoa butter with fingers and tool
 Make horizontal incision at lumbar area, then midline incision, stretching the skin to both sides to facilitate cutting, then horizontal at top
 Open the flaps and pin to sides, 2 on each side
 Make horizontal incision down to bone at lumbar area
 Make two vertical incisions from previous incision upwards lateral to spine while pulling on tail to provide tension
 Dissect connective tissue overlying the transverse and spinous processes
 Once part of spinal cord is exposed, use micro-dissection scissors and cut lamina, then peel back with micro-rongeurs the spinous process to reveal underlying cord
 Dissect surrounding bone to expose cord
 Follow nerve roots outwards until you reach more transparent DRG, cut proximal then distal

</div>


{% endblock %}