{% extends "base.html" %}

{% block content %}
<div class="row">
<form method="post">
<input type="text" name="taskname">{{ task.taskname }}
  <textarea id="summernote" name="editordata">{{ task.notes }}</textarea>
  <input type="submit" value="Edit Post">
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });
</script>
</div>
{% endblock %}