{% extends "base.html" %}

{% block content %}

<style>
	h4 {
		margin-top:40px;
		margin-bottom:5px;
	}
</style>
<div class="row">
  
 <h3 style="margin-bottom:40px;">Ethics of Neuroengineering</h3>
<blockquote class="blockquote-reverse">
	<i><h5>Your scientists were so preoccupied with whether or not they could, they didn't stop to think if they should. </i></h5>
</blockquote>
<p>Neuroengineering may very well be the most ethically controversial topic of the next century. It is typically agreed upon that innovating methods of treating disease is a good thing to do, but what about enhancing the physical and cognitive functions of one who is well?</p>

</div>


{% endblock %}