{% extends "base.html" %}

{% block content %}

<style>
	h4 {
		margin-top:40px;
		margin-bottom:5px;
	}
</style>
<div class="row">
  
 <h3>Jack of All Trades</h3>
<ul>
	<li>Experience working with team members of diverse professional and academic backgrounds</li>
	<li>Experience leading or mentoring engineers and scientists</li>
	<li>Experience in performing electrophysiological recordings in humans, non-human primates, or other large animals</li>
	<li>Basic understanding of the principals of operation for neural electronics</li>
	<li>Programming knowledge and experience</li>
	<li>Excellent written and oral communication skills</li>
	<li>Very strong analytical and debugging skills</li>
	<li>Ability to produce well-written technical reports and documentation</li>
	<li>Experience with scientific communication in peer-reviewed journals</li>
	<li>PhD in Biomedical Engineering, Neuroscience, or a closely related discipline</li>
	<li>Knowledge of advanced feature extraction techniques for neural decoding</li>
	<li>Familiarity with dynamical systems models for neural decoding</li>
	<li>Deep knowledge of systems neuroscience relating to Brain Machine/Computer Interface</li>
	<li>Knowledge of Neuromodulation and Bioelectronic devices in the CNS</li>
	<li>Experience in medical device industry or other highly regulated environment</li>
	<li>Experience conducting GLP animal studies intended for submission to the FDA or other regulators</li>
	<li>Experience (eg. surgical) in working with chronic, large animal preclinical models</li>
	<li>Surgical experience for electrode implantation</li>
	<li>Experience with histological processing of neural tissue immunohistochemistry, etc.</li>
	<li>Experience in Electrophysiology (analysis techniques, denoising setups, using multiple data acquisition systems)</li>
	<li>In-depth understanding of 3D mechanical design and Solidworks</li>
	<li>In-depth understanding of biocompatible materials</li>
	<li>Experience designing medical devices with implantable electronics (DBS, LVAT, IPG, spinal cord stimulator, etc.)</li>
	<li>Experience designing in a highly regulated quality control environment (ISO 13485 or FDA QSR)</li>
	<li>Willingness to work in a fast-paced organization with shifting responsibilities</li>
	<li>Experience with GD&T and dimensional metrology</li>
	<li>Experience with medical leads and connectors (i.e., Bal Seal)</li>
	<li>Experience with Titanium alloys, noble metals, and/or Alumina</li>
	<li>Experience with sterile packacking and sterilization methods</li>
	<li>Experience designing surgical techniques with validation via cadaveric lab experience</li>
	<li>Experience with overmolding or insert molding</li>
	<li>Experience in electronics assembly technologies such as soldering, wire-bonding, flip chip bonding, etc.</li>
	<li>Experience working with 3rd parties for manufacturing and testing services</li>
	<li>Familiarity with common software programs (e.g., Word, Excel, and PowerPoint) and GSuite platform</li>



</div>


{% endblock %}