{% extends "base.html" %}

{% block content %}

<style>
	h4 {
		margin-top:40px;
		margin-bottom:5px;
	}
</style>
<div class="row">
  
 <h3>Wilder Penfield</h3>

<h4 style="margin-top:40px">Neural Stimulation</h4>
<img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Wilder_Graves_Penfield.jpg">
<p>Penfield (1891-1976) was an American-Canadian neurosurgeon who pioneered stimulating the brain with electrical probes during surgery. This allowed him to better localize seizure foci before resection, as well as allowed him to create maps of the sensory and motor cortices of the brain (cortical homunculus), which he published in 19151 as his landmark work, Epilepsy and the Functional Anatomy of the Human Brain.

<h4>Lineage</h4>
<p>Penfield studied neuropathology under Sir Charles Scott Sherrington and worked with Pio del Rio Hortega for five months characterizing oligodendroglia. He also studied with Fedor Krause and Otfrid Foerster in New York City. He took a surgical apprenticeship under Harvey Cushing.

<h4>Legend</h4>
<p>Penfield was unable to save his only sister, Ruth, who died from brain cancer, though complex surgery he performed added years to her life.</p>

</div>


{% endblock %}