{% extends "base.html" %}

{% block content %}
  
  <a href="{{ url_for('main.create_post') }}">Create post</a>

{% for post in posts %}
<table class="table table-hover">
  <tr>
    <td width="70px">
        <img src="{{ post.author.avatar(70) }}" />
    </td>
    <td>
      {% set user_link %}
      <span class="user_popup">
          {{ post.author.username }}
      </span>
      {% endset %}
      {{ _('%(username)s said %(when)s',
      username=user_link, when=moment(post.timestamp).fromNow()) }}
      <br>
      <span id="post{{ post.id }}">{{ post.body|safe }}</span>
      {% if post.author == current_user %}
      <a class="float-right" href="{{ url_for('main.post',id=post.id)}}">View post</a>
      <a class="float-right" href="{{ url_for('main.edit_post',id=post.id)}}">Edit post</a>
      {% endif %}
    </td>
  </tr>
</table>
{% endfor %}
{% endblock %}