{% extends "base.html" %}



{% block content %}
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">{{ _('Send Message to %(recipient)s', recipient=recipient) }}</h5>
            <p class="card-category"></p>
        </div>
        <div class="card-body ">

{{ render_form(form) }}



            <div class="card-footer ">
            </div>
        </div>
    </div>
</div>

{% endblock %}