{% extends "base.html" %}

{% block page_head %}{{ specialty.name }} Forum{% endblock %}

{% block sidebar %}
{% if not current_user.is_anonymous %}
<li>
  <a href="{{ url_for('main.user', username=current_user.username) }}" class="nav-link">
    <i class="nc-icon nc-single-02"></i>
    <p>My Profile</p>
  </a>
</li>
{% endif %}
{% if specialty2 %}
<li>
  <a href="{{ url_for('main.specialty', id=specialty2) }}">
    <i class="nc-icon nc-calendar-60"></i>
    <p>Interview Invites</p>
  </a>
</li>
<li class="">
  <a href="{{ url_for('main.chat', id=specialty2) }}">
    <i class="nc-icon nc-chat-33"></i>
    <p>Chat</p>
  </a>
</li>
<li class="active">
  <a href="{{ url_for('main.threads', specialty_id=specialty2) }}">
    <i class="nc-icon nc-bank"></i>
    <p>Forum</p>
  </a>
</li>
<li>
  <a href="{{ url_for('main.index') }}">
    <i class="nc-icon nc-minimal-right"></i>
    <p>Change Specialty</p>
  </a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          {% if threads %}
          {% for thread in threads %}
          {% include '_thread.html' %}
          {% endfor %}
          {% else %}
          There are no threads in this forum!
          {% endif %}
          <nav aria-label="...">
           <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
             <a href="{{ prev_url or '#' }}" class="page-link">
              <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
            </a>
          </li>
          <li class="page-item{% if not next_url %} disabled{% endif %}">
           <a href="{{ next_url or '#' }}" class="page-link">
            {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
    {% if not current_user.is_anonymous %}
    <a href="{{ url_for('main.new_thread', specialty_id=specialty.id) }}" class="btn btn-primary">New Thread</a>
    {% else %}
    <p>Please log in to post.</p>
    {% endif %}
  </div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}