{% extends "base.html" %}

{% block content %}

<style>
	h4 {
		margin-top:40px;
		margin-bottom:5px;
	}
</style>
<div class="row">
  
 <h3>Transient receptor potential canonical 5 mediates inflammatory mechanical and spontaneous pain in mice</h3>
BY KATELYN E. SADLER, FRANCIE MOEHRING, STEPHANIE I. SHIERS, LAUREN J. LASKOWSKI, ALEXANDER R. MIKESELL, ZAKARY R. PLAUTZ, ALLISON N. BREZINSKI, CHRISTINA M. MECCA, GREGORY DUSSOR, THEODORE J. PRICE, JOHN D. MCCORVY, CHERYL L. STUCKY

SCIENCE TRANSLATIONAL MEDICINE | 26 MAY 2021
https://stm.sciencemag.org/content/13/595/eabd7702

<h4 style="margin-top:40px">Introduction</h4>

<h4>Important Challenges in BMIs</h4>
activation of trpc5 increased mechanical sensitivity to pain in rodents
TRPC5 channels are expressed in human sensory neurons
TRPC5 inhibition could be effective in reducing pain hypersensitivity
Elevated lysophosphatidylcholine (LPC) in certain conditions
Focus should be placed on proteins that are dispensable for normal tactile and pain sensation but recruited after injury to mediate persistent pain
C5KO no longer exhibited mechanical allodynia two days after CFA (complete Freund's adjuvant) injection, had the same heat hypersenstivity
AC1903, a selective small molecule TRPC5 inhibitor, eliminated mechanica allodynia when injected into the inflamed paw 2, 7, or 21 days after CFA injection
Also used hindpaw incision model of postsurgical pain and found similar results, with C5KO mice not exhibiting hypersensitivity by POday4
Also used spared nerve injury (SNI) and chemotherapy-induced peripheral neuropathy models, which showed persistent mechanica allodynia and AC1903 was ineffective in alleviating mechanical allodynia
Global C5KO mice however failed to develop cold allodyniaC5KO mice did not develop allodynia in paclitaxel (neurotoxic chemotherapeutic agent), also AC1903 administration reversed the allodynia
So they found TRPC5 was important for all forms mechanica allodynia (acute inflammatory injection, hindpaw incision of postsurgical pain, and paclitaxel-induced neuropathy) except for spared nerve injury - what's the difference?
One potential site of action for TRPC5 inhibitor-related analgesia is peripheral sensory neurons of dorsal root and trigeminal ganglia
To identify subclasses of DRG Neurons that express TRPC5, we performed RNAscope in situ hybridization on tissues isolated from uninjured mice
TRPC5 was expressed in 15% of mouse DRG neurons, restricted to small-diameter, P2rx3-expressing unmyelinated afferents and larger-diameter, neurofilament 200 (NF200) expressing myelinated afferents (adelta and abeta fibers).
To specifically assess whether peripheral TPRC5 contributes to neuronal mechanical hypersensitivity, ex vivo recordings of tibial nerve C fibers were performed in wild-type and C5KO tissues isolated 7 days after CFA injection. Compared to C fibers from WT CFA-injected mice, afferents from C5KO CFA-injected mice had elevated mechanical thresholds, suggesting that peripherally expressed TRPC5 contributes to the persistent mechanical hypersensitivity observed in the CFA model
Performed lipid mass spectrometry and noted LPC, a profinalmmatory single-chain fatty acid, was markedly elevated in skin of WT and C5KO mice to CFA model, but were unchanged in the sciatic nerve, which potentially explains difference in results
LPC may be an endogenous peripheral mediator of TRPC5-dependent mechanical allodynia
Administered LPC directly into the hindpaw and into dura mater to determine trigeminal system, producing migraine-like pain
To determine whether this behaviorla hypersensitivity resulted from direct neuronal sensitization, we performed whole-cell patch-clamp recordings on TG neurons exposed to LPC
LPC increased the amplitude of mechanically evoked whole-cell currents in WT but had no effect on the amplitude of C5KO neurons
Local release of LPC during injury sensitizes primary afferent responses to mechanical stimulation in a TRPC5-dependent manner
To determine whether LPC directly activates murine TRPC5, LPC-induced calcium flux was measured in human embryonic kidney (HEK) cells stably transfected with mTRPC5
LPC specifically activated mTRPC5 when it was applied up to 32 micrometers
(-)-Englerin A is a more selective TRPC-channel agonist
After demonstrating direct activity of LPC at mTRPC5, we next determined whether the lipid induces spontaneous pain in mice. To assess this behaviorally, we performed conditioned place aversion experiments. Wild-type mice developed a place aversion for the chamber associated with subQ 5microM LPC administration, but not 1 microM LPC
Paclitaxel-treated mice developed preference for HC-070 chamber
Up to this point, our data demonstrate that direct neuronal exposure to LPC induces TRPC5-dependent increases in mechanical sensitivity
To determine whether this hypersensitivity persists in the absence of extracellular LPC, we measured the mechanical sensitivity of trigeminal neurons 48 hours after in vivo application of LPC, then mechanical sensitivity was assessed in whole-cell patch-clamp recordings
Neurons from LPC-injected WT mice exhibited larger mechanical currents than knockout, as well as similar with migraines
SCD mice have higher concentrations of circulating LPC than controls. AC1903 treatment reduced behavioral mechanical allodynia observed in SCD mice, as well as decreased mechanical sensitivity in isolated DRG neurons, even after isolated from LPC-rich native environment, suggesting TRPC5 activity may persist even in apparent absence of endogenous lipid agonist
We performed RNAscope in situ hybridization to characterize TRPC5 expression in human DRG neurons
TRPC5 expression was observed in 75% of human DRG neurons, particularly enriched in medium- and small-diameter neurons
~80% could be classified as nociceptors, coexpressing either calcitonin gene-related peptide CGRP (CALCA) or P2X3R
Spared tibial nerve injury - sural and common peroneal branches were ligated; tibial nerve was not ligated or cut
DRG and TG neuronal cultures. Mice were euthanized, and sensory neurons were isolated from bilateral lumbar 1 to 6 ganglia or the bilateral TG; culturing procedures were identical for both tissues. Ganglia were incubated with collagenase type IV (1 mg/ml) for 40 min at 37°C and 5% CO2 and then 0.05% trypsin for 45 min. Ganglia were mechanically dissociated and plated onto laminin-coated glass coverslips. Two hours after plating, neurons were fed with Dulbecco’s modified Eagle’s medium (DMEM)/Ham’s F12 medium supplemented with 10% heat-inactivated horse serum, 2 mM L-glutamine, 1% glucose, penicillin (100 U/ml), and streptomycin (100 μg/ml). Neurons grew overnight at 37°C and 5% CO2.
</div>


{% endblock %}