{% extends "base.html" %}

{% block content %}

<style>
	h4 {
		margin-top:40px;
		margin-bottom:5px;
	}
</style>
<div class="row">
  
 <h3>Ultrasound Neuromodulation: Mechanisms and the Potential of Multimodal Stimulation for Neuronal Function Assessment</h3>
 Kamimura HAS, Conti A, Toschi N, Konofagou EE. Ultrasound neuromodulation: mechanisms and the potential of multimodal stimulation for neuronal function assessment. Front Phys. 2020 May;8:150. doi: 10.3389/fphy.2020.00150. Epub 2020 May 26. PMID: 32509757; PMCID: PMC7274478.<a href="https://pubmed.ncbi.nlm.nih.gov/32509757/" target="_blank">View on PubMed</a>

<h4 style="margin-top:40px">Abstract</h4>
<p>Focused ultrasound (FUS) neuromodulation has shown that mechanical waves can interact with cell membranes and mechanosensitive ion channels, causing changes in neuronal activity. However, it can be much improved if we know better its mechanism of action and the stimulating parameters necessary. Eventually, there is potential to reach the cell type specificity typical of other more invasive techniques such as opto- and cheomgenetics or at least orientation-specific selectivity afforded by transcranial magnetic stimulation.</p>



</div>


{% endblock %}